<ion-header style="z-index: 300 !important">
  <ion-navbar #content>
    <ion-title>
      Style Guide
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle icon-only>
        menu
      </button>
      <ion-icon md="md-menu" menuToggle></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" class="side-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <span class="MR10">
          <ion-icon ios="logo-android" md="logo-android"></ion-icon>
        </span>
        <span>Menu</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu-list">
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>User and Gropus</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Reports</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Language</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Settings</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>User and Gropus</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Reports</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Language</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Settings</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>User and Gropus</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Reports</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Language</span>
      </ion-item>
      <ion-item>
        <span class="MR10">
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
        </span>
        <span>Settings</span>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer class="side-menu-footer">
    Version V1.12.27
  </ion-footer>
</ion-menu>

<ion-content overflow-scroll="true" class="course-scroll-holder1" style="background: #EBEBEB;">
  <ion-grid class="P0">

    <div class="horizontal-scroll PTB20 PLR16px bg-white">
      <button ion-button class="medium-pill active">English medium</button>
      <button ion-button class="medium-pill">Kannada Medium</button>
      <button ion-button class="medium-pill">Kannada Medium</button>
      <button ion-button class="medium-pill">Kannada Medium</button>
    </div>

    <div class="horizontal-scroll PTB10 PLR16px">
      <button ion-button class="class-pill active">Class 5</button>
      <button ion-button class="class-pill">Class 6</button>
      <button ion-button class="class-pill">Class 7</button>
      <button ion-button class="class-pill">Class 8</button>
      <button ion-button class="class-pill">Class 8</button>
      <button ion-button class="class-pill">Class 8</button>
      <button ion-button class="class-pill">Class 8</button>
      <button ion-button class="class-pill">Class 8</button>
      <button ion-button class="class-pill">Class 8</button>
    </div>

    <section>
      <div class="section-floating P15 PT10">
        <div class="heading">Recently Viewed
          <button ion-button class="btn-view-all float-end"> View all</button>
        </div>
        <div class="card-container">
          <div class="card grid">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Great thinkers and their new religions
                </div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Great thinkers and their new religions</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="MT40 PT48">
      <div class="section-solid P15">
        <div class="heading">
          <span>
            <ion-icon md="md-time" class="danger MR6"></ion-icon>
          </span>
          <span>Social Science</span>
          <!-- <button ion-button class="class-pill float-end">Class 6</button> -->
        </div>
        <div class="card-container">
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Social science term 1</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Great thinkers and their new religions</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Great thinkers and their new religions</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="MT20">
      <div class="section-fluid">
        <div class="heading-fluid">
          <span>Recently Viewed</span>
          <p>Showing 10 items</p>
        </div>
        <div class="card-container">
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div class="item">
                <div class="flex">
                  <div>
                    <div class="title"> Social science term 1</div>
                  </div>
                  <div>
                    <span class="info">Class6</span>
                    <span class="separator-dot"></span>
                    <span class="info">Social Science</span>
                  </div>
                </div>
              </div>
              <div class="card-actions">
                <button ion-button class="action-btn float-end bg-sucess">
                  <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="MR5"></ion-icon>
                  Download
                </button>
                <!-- <button ion-button class="medium-pill float-end danger">Delete</button> -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div class="item">
                <div class="flex">
                  <div>
                    <div class="title"> Social science term 1</div>
                  </div>
                  <div>
                    <span class="info">Class6</span>
                    <span class="separator-dot"></span>
                    <span class="info">Social Science</span>
                  </div>
                </div>
              </div>
              <div class="card-actions">
                <button ion-button class="action-btn float-end bg-dark-danger">
                  <ion-icon ios="ios-trash" md="md-trash" class="MR5"></ion-icon>
                  Delete
                </button>
                <button ion-button class="action-btn float-end bg-primary">
                  <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" class="MR5"></ion-icon>
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="MT20">
      <div class="section-floating P15 PT10">
        <div class="heading">Recently Viewed
          <button ion-button class="btn-view-all float-end"> View all</button>
        </div>
        <div class="card-container">
          <div class="card grid offline">
            <div class="left">
              <div class="img-container ">
                <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Great thinkers and their new religions</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Great thinkers and their new religions</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="MT20 PT48">
      <div class="section-fluid">
        <div class="heading-fluid">
          <span>Recently Viewed</span>
          <p>Showing 10 items</p>
        </div>
        <div class="card-container">
          <div class="card offline">
            <div class="left">
              <div class="img-container">
                <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
              </div>
            </div>
            <div class="right">
              <div class="item">
                <div class="flex">
                  <div>
                    <div class="title"> Social science term 1</div>
                  </div>
                  <div>
                    <span class="info">Class6</span>
                    <span class="separator-dot"></span>
                    <span class="info">Social Science</span>
                  </div>
                </div>
              </div>
              <div class="card-actions">
                <button ion-button class="action-btn float-end bg-sucess">
                  <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="MR5"></ion-icon>
                  Download
                </button>
                <!-- <button ion-button class="medium-pill float-end danger">Delete</button> -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div class="item">
                <div class="flex">
                  <div>
                    <div class="title"> Social science term 1</div>
                  </div>
                  <div>
                    <span class="info">Class6</span>
                    <span class="separator-dot"></span>
                    <span class="info">Social Science</span>
                  </div>
                </div>
              </div>
              <div class="card-actions">
                <button ion-button class="action-btn float-end bg-dark-danger">
                  <ion-icon ios="ios-trash" md="md-trash" class="MR5"></ion-icon>
                  Delete
                </button>
                <button ion-button class="action-btn float-end bg-primary">
                  <ion-icon ios="ios-refresh-circle" md="md-refresh-circle" class="MR5"></ion-icon>
                  Update
                </button>
              </div>
            </div>
          </div>
          <div class="card offline">
            <div class="left">
              <div class="img-container">
                <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white"></ion-icon>
              </div>
            </div>
            <div class="right">
              <div class="item">
                <div class="flex">
                  <div>
                    <div class="title"> Social science term 1</div>
                  </div>
                  <div>
                    <span class="info">Class6</span>
                    <span class="separator-dot"></span>
                    <span class="info">Social Science</span>
                  </div>
                </div>
              </div>
              <div class="card-actions">
                <button ion-button class="action-btn float-end bg-sucess">
                  <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="MR5"></ion-icon>
                  Download
                </button>
                <!-- <button ion-button class="medium-pill float-end danger">Delete</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="MT20">
      <div class="section-solid P15 ">
        <div class="heading">
          <span>
            <ion-icon md="md-time" class="danger MR6"></ion-icon>
          </span>
          <span>Mathematics</span>
        </div>
        <div class="card-container">
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Social science term 1</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="MT20">
      <div class="section-solid P15 ">
        <div class="heading">
          <span>
            <ion-icon md="md-time" class="danger MR6"></ion-icon>
          </span>
          <span>Social Science</span>
        </div>
        <div class="card-container">
          <div class="card">
            <div class="left">
              <div class="img-container">
                <img src="">
              </div>
            </div>
            <div class="right">
              <div>
                <div class="title"> Social science term 1</div>
              </div>
              <div>
                <span class="info">Class6</span>
                <span class="separator-dot"></span>
                <span class="info">Social Science</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="MT20 P15">
      <div class="details-card MB16">
        <div class="content">
          <div class="left">
            <div class="item">
              <div class="flex">
                <div>
                  <span class="MR5 f14 font-weight-bold">4.7</span>
                  <span class="yellow-gold"><ion-icon ios="ios-star" md="md-star"></ion-icon></span>
                </div>
                <div>
                  <div class="title"> Social science term 1 Social science term 1 Social science term 1 Social science term 1</div>
                </div>
                <div>
                  <span class="light-black f12">by</span>
                  <span class="info f16">Christopher</span>
                </div>
                <div>
                  <span class="info">Class6</span>
                  <span class="separator-dot"></span>
                  <span class="info">Social Science</span>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="img-container">
              <img src="">
            </div>
          </div>
        </div>
        <div class="separator-line"></div>
        <div class="footer P10 PLR15px">
            <div class="btn-caption-container text-center">
                <div class="text-center">
                    <button ion-button clear icon-only class="action-btn">
                        <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="f30"></ion-icon>
                    </button>
                </div>
                <span class="f12 btn-caption">Download</span>
            </div>
            <div class="btn-caption-container text-center">
                <div class="text-center">
                    <button ion-button clear icon-only class="action-btn">
                        <ion-icon ios="ios-share" md="md-share" class="f30"></ion-icon>
                    </button>
                </div>
                <span class="f12 btn-caption">Share</span>
            </div>
            <div class="btn-caption-container text-center">
                <div class="text-center">
                    <button ion-button clear icon-only class="action-btn">
                      <ion-icon ios="ios-trash" md="md-trash" class="f30 danger"></ion-icon>
                    </button>
                </div>
                <span class="f12 btn-caption">Delete</span>
            </div>  
        </div>
      </div>
    </section>

    <section class="MT20 P15">
        <div class="details-card MB16">
          <div class="content single-column">
            <div class="left">
              <div class="item">
                <div class="flex">
                  <div>
                    <span class="MR5 f14 font-weight-bold">4.7</span>
                    <span class="yellow-gold"><ion-icon ios="ios-star" md="md-star"></ion-icon></span>
                  </div>
                  <div>
                    <div class="title"> Social science term 1</div>
                  </div>
                  <div class="MB10">
                    <span class="light-black f12">by</span>
                    <span class="info f16">Christopher</span>
                  </div>
                  <div>
                    <span class="tag">Practice</span>
                    <span class="tag">lesson</span>
                    <span class="tag">Text book</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="separator-line"></div>
          <div class="footer P10 PLR15px">
              <div class="btn-caption-container text-center">
                  <div class="text-center">
                      <button ion-button clear icon-only class="action-btn">
                          <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="f30"></ion-icon>
                      </button>
                  </div>
                  <span class="f12 btn-caption">Download</span>
              </div>
              <div class="btn-caption-container text-center">
                  <div class="text-center">
                      <button ion-button clear icon-only class="action-btn">
                          <ion-icon ios="ios-share" md="md-share" class="f30"></ion-icon>
                      </button>
                  </div>
                  <span class="f12 btn-caption">Share</span>
              </div>
              <div class="btn-caption-container text-center">
                  <div class="text-center">
                      <button ion-button clear icon-only class="action-btn">
                        <ion-icon ios="ios-trash" md="md-trash" class="f30 danger"></ion-icon>
                      </button>
                  </div>
                  <span class="f12 btn-caption">Delete</span>
              </div>  
          </div>
        </div>
      </section>

      <section class="MT20 PT48">
          <div class="section-floating P15 PT10">
            <div class="heading">About
            </div>
            <div class="card-container">
              <div class="card  P15 about">
                <div>
                  <p>Some desription about the content and some other stuff.</p>
                </div>
                <div>
                    <ion-label stacked text-uppercase class="label-font">Board
                    </ion-label>
                    <p>State (Karnataka)</p>
                </div>
                <div>
                    <ion-label stacked text-uppercase class="label-font">Board
                    </ion-label>
                    <p>State (Karnataka)</p>
                </div>
                <div>
                    <ion-label stacked text-uppercase class="label-font">Board
                    </ion-label>
                    <p>State (Karnataka)</p>
                </div>
              </div>
            </div>
          </div>
        </section>
  </ion-grid>
</ion-content>