/*
 * Noto Nastaliq Urdu (Arabic) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
    font-family: 'Nirmala';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Nirmala.ttf) format('truetype'),
         url(./Nirmala.woff) format('woff');
}

/* 
 * scale.py 0.75 noto-nastaliqurdu/NotoNastaliqUrdu-Regular.ttf scaled/NotoNastaliqUrdu-Regular.ttf
 * scale.py 0.75 noto-nastaliqurdu/NotoNastaliqUrdu-Regular.woff scaled/NotoNastaliqUrdu-Regular.woff
 */
