// @font-face {
//     font-family: 'NotoSans';
//     src: url('../assets/fonts/natosans/NotoSans-Regular.ttf');
//     font-weight: normal;
//     font-style: normal;
//   }

  @font-face {
    font-family: 'Noto Sans Telugu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansTelugu-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Tamil';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansTamil-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Oriya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansOriya-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Malayalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansMalayalam-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Kannada';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansKannada-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Gurmukhi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansGurmukhi-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Gujarati';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansGujarati-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Devanagari';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansDevanagari-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans Bengali';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoSansBengali-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Nastaliq Urdu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/natosans/NotoNastaliqUrdu-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/cyrillic-ext.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* devanagari */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/devanagari.woff2') format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/greek-ext.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/greek.woff2') format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/vietnamese.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/latin-ext.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans'), local('NotoSans'), url('../assets/fonts/natosans/latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body{
    font-family: 'Noto Sans', 'Noto Sans Bengali', 'Noto Sans Malayalam', 'Noto Sans Gurmukhi', 'Noto Sans Devanagari', 'Noto Sans Gujarati', 'Noto Sans Telugu', 'Noto Sans Tamil', 'Noto Sans Kannada', 'Noto Sans Oriya', 'Noto Nastaliq Urdu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
        font-weight: normal;
        font-style: normal;
  };

    .NotoSans {
        // font-family: 'NotoSans' !important;
         font-family: 'Noto Sans', 'Noto Sans Bengali', 'Noto Sans Malayalam', 'Noto Sans Gurmukhi', 'Noto Sans Devanagari', 'Noto Sans Gujarati', 'Noto Sans Telugu', 'Noto Sans Tamil', 'Noto Sans Kannada', 'Noto Sans Oriya', 'Noto Nastaliq Urdu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
        font-weight: normal;
        font-style: normal;
    }
  
    .NotoSans-semi-bold {
      // font-family: 'NotoSans' !important;
       font-family: 'Noto Sans', 'Noto Sans Bengali', 'Noto Sans Malayalam', 'Noto Sans Gurmukhi', 'Noto Sans Devanagari', 'Noto Sans Gujarati', 'Noto Sans Telugu', 'Noto Sans Tamil', 'Noto Sans Kannada', 'Noto Sans Oriya', 'Noto Nastaliq Urdu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
      font-weight: 600 !important;
    };

    .NotoSans-bold {
        // font-family: 'NotoSans' !important;
         font-family: 'Noto Sans', 'Noto Sans Bengali', 'Noto Sans Malayalam', 'Noto Sans Gurmukhi', 'Noto Sans Devanagari', 'Noto Sans Gujarati', 'Noto Sans Telugu', 'Noto Sans Tamil', 'Noto Sans Kannada', 'Noto Sans Oriya', 'Noto Nastaliq Urdu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
        font-weight: 700 !important;
    }
    .NotoSans-extra-bold {
        // font-family: 'NotoSans' !important;
         font-family: 'Noto Sans', 'Noto Sans Bengali', 'Noto Sans Malayalam', 'Noto Sans Gurmukhi', 'Noto Sans Devanagari', 'Noto Sans Gujarati', 'Noto Sans Telugu', 'Noto Sans Tamil', 'Noto Sans Kannada', 'Noto Sans Oriya', 'Noto Nastaliq Urdu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
        font-weight: 900 !important;
    }

  .font-weight-400 {
    font-weight: 400 !important;
  }

  .font-weight-500 {
    font-weight: 500 !important;
  }
  
  .font-weight-550 {
    font-weight: 550 !important;
  }

  .font-weight-600 {
    font-weight: 600 !important;
  }
 
  .font-weight-700 {
    font-weight: 700 !important;
  }
  
  .font-weight-900 {
    font-weight: 900 !important;
  }

  .font-weight-300 {
    font-weight: 300 !important;
  }

  .font-weight-bold {
    font-weight: bold !important;
  }

  .font-weight-bolder {
    font-weight: bolder !important;
  }

  .f18{
    font-size: 18px;
  }

  .f16{
    font-size: 16px;
  }

  .f14{
    font-size: 14px;
  }

  .text-center{
    text-align: center;
  }

  